.fon{
    background-image: url(pizza.jpg.crdownload);
    width: 100%;
    background-size: cover; 
    height: 900px;
}
h1{
    color: white;
    font-size:80px;
    margin-top: 50px;
}
    .text1{
        color:rgb(255, 255, 255);
        font-size:50px;
        position: absolute;
        margin-top: 170px;
        margin-left:500px;
    }
    .text2{
        color:rgb(255, 255, 255);
        font-size:30px;
        position: absolute;
        margin-top: 160px;
        margin-left:9000px;}
.text3{
      color:rgb(255, 255, 255);
       font-size:50px;
        position: absolute;
        margin-top: 190px;
        margin-left:850px;}
.q1{
    color:rgb(255, 255, 255);
    position: absolute;
        margin-top: 30px;
        margin-left:890px; 
        font-size:30px;
}
.da{
    margin-top: -40px;
    font-size:-10px;
        position: absolute;
        margin-left:20px;
}
